$darkText: #234361;
$defaultText: #425a70;
$mutedText: #66788a;
$linkColor: #4da8ff;
$green: #06c847;
$blue: #1070ca;
$blueLight: #dbeaf7;
$blueLightest: #f6f9fd;
$consoleLink: #14b5d0;
$grey1: #1e1e1e;
$grey2: #212528;
$grey3: #464a4d;
$grey4: #808082;
$grey5: #a3a3a3;

$mobileViewBreakout: 959px;
$tabletViewBreakout: 767px;
