@import "~normalize.css";

@import "_variables";

@import "./modules/header.scss";
@import "./modules/skills.scss";
@import "./modules/hello.scss";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&Roboto+Mono:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  color: $defaultText;
}


.mailTo__button {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  width: fit-content;
  background: $linkColor;
  color: white;
  border-radius: 24px;
  display: block;
  border: none;
  margin: 0 auto;
  padding: 4px 24px;
  text-decoration: none;
}

.myProjects {
  padding: 80px 128px 176px;
  @media screen and (max-width: $mobileViewBreakout) {
    padding: 64px 16px 88px;
  }
  &__heading {
    margin-top: 0;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: $darkText;
    @media screen and (max-width: $mobileViewBreakout) {
      font-size: 36px;
      line-height: 48px;
    }
  }
  &__about {
    margin: 40px auto 128px;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    max-width: 782px;
    @media screen and (max-width: $mobileViewBreakout) {
      font-size: 16px;
      line-height: 32px;
      margin: 32px auto 46px;
    }
  }
  &__list {
    @media screen and (min-width: $mobileViewBreakout) {
      max-width: 1184px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 24px;
    }
  }
}

.githubProject {
  background: $grey2;
  border-radius: 16px;
  border-top: 40px solid black;
  padding: 18px 48px 58px;
  position: relative;
  @media screen and (max-width: $mobileViewBreakout) {
    padding: 24px 16px 48px;
    margin-bottom: 24px;
  }
  &__circles {
    position: absolute;
    top: -24px;
    left: 16px;
  }
  &__grid {
    margin-top: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    font-family: Roboto Mono;
    color: $grey4;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    @media screen and (max-width: $mobileViewBreakout) {
      font-size: 13px;
    }
    a {
      color: $consoleLink;
    }
  }
  &__name {
    font-weight: bold;
    color: #ffffff;
  }
}

footer {
  width: 100%;
  background-color: $blueLight;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  padding: 80px 16px 176px;
  @media screen and (max-width: $mobileViewBreakout) {
    font-size: 16px;
    line-height: 32px;
    padding: 64px 16px 88px;
  }
  h1 {
    margin: 0 auto 40px;
    font-size: 48px;
    @media screen and (max-width: $mobileViewBreakout) {
      font-size: 36px;
    }
  }
}

.contact {
  max-width: 580px;
  height: 48px;
  margin: 128px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $mobileViewBreakout) {
    height: 160px;
    flex-direction: column;
    margin: 56px auto 0;
  }
  .mailTo__button {
    margin: 0 0;
  }
  &__socialMedia {
    width: 192px;
    display: flex;
    justify-content: space-between;
  }
}
