@import "~normalize.css";

@import "_variables";

@import "./modules/header.scss";
@import "./modules/skills.scss";
@import "./modules/projects.scss";
@import "./modules/hello.scss";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&Roboto+Mono:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  color: $defaultText;
}


.mailTo__button {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  width: fit-content;
  background: $linkColor;
  color: white;
  border-radius: 24px;
  display: block;
  border: none;
  margin: 0 auto;
  padding: 4px 24px;
  text-decoration: none;
}

footer {
  width: 100%;
  background-color: $blueLight;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  padding: 80px 16px 176px;
  @media screen and (max-width: $mobileViewBreakout) {
    font-size: 16px;
    line-height: 32px;
    padding: 64px 16px 88px;
  }
  h1 {
    margin: 0 auto 40px;
    font-size: 48px;
    @media screen and (max-width: $mobileViewBreakout) {
      font-size: 36px;
    }
  }
}

.contact {
  max-width: 580px;
  height: 48px;
  margin: 128px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $mobileViewBreakout) {
    height: 160px;
    flex-direction: column;
    margin: 56px auto 0;
  }
  .mailTo__button {
    margin: 0 0;
  }
  &__socialMedia {
    width: 192px;
    display: flex;
    justify-content: space-between;
  }
}
