@import "~normalize.css";

@import "_variables";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

.header {
  margin: 80px auto 176px;
  &__cloud {
    background: blue;
    color: white;
    height: 40px;
    border-radius: 16px;
    padding: 16px 19px;
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0em;
  }
  &__description {
    display: flex;
    &::before {
      content: url(../assets/img/open_bracket.svg);
      float: left;
    }
    &::after {
      content: url(../assets/img/close_bracket.svg);
      float: right;
    }
  }
  &__graphics {
    display: grid;
    grid-template-columns: 1fr 298px 1fr;
  }
  &__hello {
    grid-column-start: 3;
  }
  &__photo {
    grid-column-start: 2;
    margin: 50px 0 72px;
    border: 24px solid #f6f9fd;
    border-radius: 50%;
  }
  &__tail {
    margin: 0 0 0 12px;
  }
}
